body {
  font-family: Helvetica;
  margin: 50px 0 0 0;
  background: #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

input {
  margin-left: 20px;
}

.notify {
  color: #c00;
  background: #fff;
  display: block;
  max-width: 300px;
  padding: 5px;
  border: 1px solid #c00;
  border-radius: 5px;
  margin: auto;
  font-family: helvetica;
  text-align: center;
}

.prewrap {
  white-space: pre-wrap;
}

input.create-list {
  width: 40%;
  padding: 6px;
  margin-right: 10px;
}


/* HEADER */

header {
  background: #46d;
  color: white;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

}

header span {
  font-size: 18pt;
  margin: 0 10px;
}

header .nav-right {
  float: right;
}

header .nav-info {
  color: #ddd;
}

@media screen and (max-width: 350px) {
  header .nav-info {
    display: none;
  }
}

header a {
  text-decoration: none;
}

header a:visited {
  color: white;
}

header a:hover {
  color: #cfc;
}


/* LAYOUT & TABLES */

#content {
  width: 50%;
  margin: 80px auto;
}

table {
  font-size: 16pt;
  min-width: 80%;
  margin: 20px;
  background: white;
}

table td {
  overflow-x: auto;
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

@media screen and (max-width: 900px) {
  #content {
    width: 100%;
  }
  table, td, th, tr {
    font-size: 12pt;
  }
  table td {
    padding: 5px;
  }
}


/* LOGIN / REGISTER PAGE */

.login-container {
  font-family: helvetica;
  padding: 30px;
  text-align: center;
}

.login-container .input-field {
  padding: 5px;
  width: 60%;
}

@media only screen and (max-width: 400px) {
  .login-container h1 {
    font-size: 16pt;
  }
}

#login, #register {
  margin: auto;
  padding: 10px;
  border-radius: 30px;
  max-width: 800px;
  margin-bottom: 30px;
  background: #ccc;
}


/* BUTTONS */

.button {
  height: 30px;
  background: #15a57f;
  margin: 10px 5px 10px 20px;
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.button:hover, .edit-button:hover {
  background: #74ba5b;
}

.delete-button {
  background: #bbb;
  width: 30px;
  font-weight: bold;
  display: block;
  margin: auto;
}

.delete-button:hover {
  background: #d22;
}

.edit-button {
  background: #bbb;
  display: block;
  margin: 0;
  float: right;
}


/* MODAL */

#comment-area {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#comment-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 60%;
}

#comment-area textarea {
  width: 100%;
}

#comment-area button {
  display: block;
  margin: 10px auto;
}

#comment-area .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#comment-area .close:hover,
#comment-area .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* SEARCH RESULTS */

ul#search-list {
  list-style: none;
  position: absolute;
  z-index: 1;
  margin-top: 0;
  padding-left: 20px;
  min-width: 35%;
}

ul#search-list li {
  border: 1px solid black;
  margin: 0;
  padding: 10px;
  color: black;
  background: #d2ffcd;
}

ul#search-list li:hover {
  background: #9cd196;
}

#search-form input {
  height: 30px;
  margin: 0 0 0 20px;
}

#search-form input[type='text'] {
  width: 70%;
}